// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/mentor/mentor";
@import "../pages/login/login";
@import "../pages/evaluate-details/evaluate-details";
@import "../pages/sign-page/sign-page";
@import "../pages/homestay/homestay";
@import "../pages/photo-album/photo-album";
@import "../pages/avatar-preview/avatar-preview";
@media only screen and (min-width: 768px) {
  body {
    width: 768px;
    margin-left: calc(50% - 384px);
  }
}
.grey {
  color:#b9b9b9;
}
.opaque {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.opaque .toolbar-background {
  background-color: rgba(#f8f8f8, 0.55);
}
.toast-wrapper {
  background: rgba(164, 195, 100, 0.9); 
}
.item {
  background: transparent;
}
ion-icon[small] {
  min-height: 1.0em;
  font-size: 1.0em;
  font-weight: bold;
}
.getting-started {
  textarea{
    height: 8rem;
  }
  ion-item-group{
    background: #fff;
  }
  ion-avatar{
    border: 2px solid #fff;
    box-shadow: 0px 1px 1px #f7f7f7;
    background-color: #fff;
    background-size: cover;
    border-radius: $item-ios-avatar-size;
  }
  .process-bg {
    position: absolute;
    z-index: 1;
    top: 12px;
    left: 16.5%;
    border-bottom: 2px solid color($colors, gray, contrast);
    width: 66.66667%;
  }
  .process {
    position: absolute;
    z-index: 2;
    top: 12px;
    left: 16.5%;
    width: 10%;
    height: 2px;
    background-color: color($colors, primary, contrast);
  }
  button.item{
    padding-right: 16px;
  }
  button.item img{
    max-width: 5rem;
    max-height: 5rem;
  }
  button.item ion-label {
    white-space: normal
  }
  button.item .preview {
    overflow: hidden;  
    text-overflow: ellipsis;  
    display: -webkit-box;  
    -webkit-line-clamp: 2;  
    -webkit-box-orient: vertical;  
  }
  button.item[primary] {
    color: #fff;
    background-color: color($colors, primary, contrast);
  }
  button.item[primary].activated {
    background-color: color-shade(color($colors, primary, contrast));
  }
  button.item[primary] .item-inner {
     background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2012%2020'><path%20d='M2,20l-2-2l8-8L0,2l2-2l10,10L2,20z'%20fill='#fff'/></svg>");
  }
  button[dashed] {
    border: 1px dashed;
    padding: 0 .8rem;
  }

  ion-item-divider[primary] {
    padding-bottom: 0;
  }
  ion-item-divider[primary] ion-row{
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
  }

  ion-grid {
    padding: 5px 16px;
  }
}

.upload-photo{
  ion-row[padding] {
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap;
  }
  ion-row[padding] ion-col {
    width: 1%;
    margin-bottom: 10px;
    padding-right: 15px;
    position: relative;
  }
  ion-col .photo {
    width: 100%; 
    padding-bottom: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
  }
  ion-col .uploader-status {
    position: relative;
  }
  ion-col .uploader-status:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  ion-col .uploader-status ion-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  ion-col .uploader-status ion-spinner svg{
    width: 28px;
    height: 28px;
    stroke: #444;
    fill: #fff;
  }
  .spinner-bubbles circle{
    stroke: #fff;
    fill: #fff;
  }
  ion-col .add-photo {
    width: 100%; 
    padding-bottom: 100%;
    position: relative;
    border: 1px dashed color($colors, gray, contrast);
  }
  ion-col .add-photo .add-photo-icon{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
  }
  ion-col button[danger] {
    position: absolute;
    top: -2rem;
    right: 0;
  }
  ion-col button[danger].button-icon-only ion-icon {
    border: 2px solid #fff;
    border-radius: 2rem;
    background-color: #fff;
    padding: 0;
    line-height: .8;
  }
  ion-col button[gray] {
    width: 100%;
    z-index: 0;
    height: 10rem;
  }
  ion-col input[type=file] {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 10;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  ion-col[center] button .button-inner {
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
  }
  ion-col[center] button .note{
    width: 100%;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
